Pokemon Stat Analysis

In [45]:
#importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style

In [46]:
data_frame = pd.read_csv('./Pokemon.csv') #reading csv and we save it into a variable
data_frame.head(10) # this line prints first 10 rows of the table

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [47]:
#change into uppercase
data_frame.columns = data_frame.columns.str.upper().str.replace('_','')

data_frame.head()

,#,NAME,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [48]:
#shows legendary pokemons
data_frame[data_frame['LEGENDARY']==True].head()

,#,NAME,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [70]:
#change and set the index to the name attribute
data_frame = data_frame.set_index('NAME')

CLEANING THE DATAFRAME

In [72]:
# the index of mega pokemons contained extra and unneeded text.
#removing all the text before "mega"
data_frame.index = data_frame.index.str.replace(".*(?=Mega)", "")
data_frame.head(10)

,#,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
NAME,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
Mega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,Fire,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,Fire,405,58,64,58,80,65,80,1,False
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
Mega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False
Mega Charizard Y,6,Fire,Flying,634,78,104,78,159,115,100,1,False
Squirtle,7,Water,Water,314,44,48,65,50,64,43,1,False

In [73]:
#prints the columns of dataset
data_frame.columns

Index(['#', 'TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE', 'SP. ATK',
       'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

In [74]:
#prints the shape of dataframe
data_frame.shape

(800, 12)

In [75]:
#some values in type two are empty so they have to be filled 
# or deleted

#fill NaN values in TYPE 2 column with corresponding values of TYPE
data_frame['TYPE 2'].fillna((data_frame['TYPE 1']),inplace = True)

data_frame.head(10)

,#,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
NAME,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
Mega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,Fire,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,Fire,405,58,64,58,80,65,80,1,False
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
Mega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False
Mega Charizard Y,6,Fire,Flying,634,78,104,78,159,115,100,1,False
Squirtle,7,Water,Water,314,44,48,65,50,64,43,1,False

In [80]:
# retrieves complete row data from index with value bulbasaur
print(data_frame.loc['Bulbasaur'])
#retrieves complete row date from index 0;integer version of loc
print(data_frame.iloc[0])

#                  1
TYPE 1         Grass
TYPE 2        Poison
TOTAL            318
HP                45
ATTACK            49
DEFENSE           49
SP. ATK           65
SP. DEF           65
SPEED             45
GENERATION         1
LEGENDARY      False
Name: Bulbasaur, dtype: object
#                  1
TYPE 1         Grass
TYPE 2        Poison
TOTAL            318
HP                45
ATTACK            49
DEFENSE           49
SP. ATK           65
SP. DEF           65
SPEED             45
GENERATION         1
LEGENDARY      False
Name: Bulbasaur, dtype: object

In [83]:
# here we filter pokemons using logical operators
data_frame[((data_frame['TYPE 1']=='Fire')| (data_frame['TYPE 1']=='Dragon'))&
          ((data_frame['TYPE 2']=='Dragon')| (data_frame['TYPE 2']=='Fire'))].head()

,#,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
NAME,,,,,,,,,,,,
Charmander,4,Fire,Fire,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,Fire,405,58,64,58,80,65,80,1,False
Mega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False
Vulpix,37,Fire,Fire,299,38,41,40,50,65,65,1,False
Ninetales,38,Fire,Fire,505,73,76,75,81,100,100,1,False

In [94]:
# returns the pokemon with maximun HP(health power)
print('MAX HP:',data_frame['HP'].argmax())

#pokemon with min HP
print('min HP:',data_frame['HP'].argmin())
# returns pokemon with max defense
print ("max defense:",data_frame['DEFENSE'].argmax())

MAX HP: Blissey
min HP: Shedinja
max defense: Mega Steelix

In [96]:
# sorting the pokemons in the descending order of Totals
data_frame.sort_values('TOTAL',ascending = False).head()

,#,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
NAME,,,,,,,,,,,,
Mega Rayquaza,384,Dragon,Flying,780,105,180,100,180,100,115,3,True
Mega Mewtwo Y,150,Psychic,Psychic,780,106,150,70,194,120,140,1,True
Mega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True
KyogrePrimal Kyogre,382,Water,Water,770,100,150,90,180,160,90,3,True
GroudonPrimal Groudon,383,Ground,Fire,770,100,180,160,150,90,90,3,True

In [97]:
# displays all the unique pokemon types
print("the unique pokemon types are:\n")
data_frame['TYPE 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)